body {
  background: rgb(161, 125, 125);
}

H1 {
  color: beige;
  font-size: 4em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

button {
  padding: 8px;
  border: 1px solid black;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: rgb(144, 152, 158);
}

button:hover {
  background-color: rgb(169, 207, 207);
}
